@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
	background-color:#ffffff;
	color:rgb(0, 0, 0);
	margin:0;
	padding:0;
}

.header-bar {
	background-color: #5a2804; /* Brown background color */
	color: #fff; /* Text color for the header */
	padding: 10px;
  }

  .header-bar h1 {
	text-align: left;
	margin-left: 100px;
	font-family: 'DM Sans',sans-serif;

  }


#container {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
  }

  .intro {
	width: 80%;
	margin: 10px;
	padding: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Inter';
  }
  
  .content {
	flex: 1;
	margin-right: 20px;
  }
  
  .intro img {
	max-width: 50%; /* Adjust the width as needed */
  }  

  .map {
	width: 80%;
	font-family: 'Inter';
	background-color: rgba(255, 165, 0, 0.5); 
	padding-bottom: 2em;
	border-radius: 10px;
	text-align: center; 
  }

  .totaltitles {
	width: 80%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Inter';
  }

  .figure {
	font-style: italic; /* Make the paragraph italic */
	padding-left:50px;
	text-align: left; /* Align the paragraph to the left */
  }
  
.footer-bar {
	background-color: #8B4513; /* Brown background color */
	color: #fff; /* Text color for the footer */
	text-align: center;
	padding: 10px;
  }
  